@use 'src/styles/vars';

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;
  color: vars.$color;
  &-title {
      padding: vars.$gutter;
      margin-top: vars.$gutter;
      font-weight: bold;
  }
}

.currency {
  padding: vars.$gutter;
  border-top: 1px solid vars.$color-alt;
  font-weight: 500;
  transition: background-color 1s;
  cursor: pointer;
  &:hover{
    background-color: vars.$color-alt;
    transition-duration: vars.$transition-fast;
  }
}
