@use 'src/styles/vars';

.header {
  background-color: vars.$color;
  color: vars.$color-light;
  padding: vars.$gutter * 3;
  text-align: center;
  &-input {
    width: 60px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #fff;
    font-size: 1.6em;
  }
  &-title {
    font-size:2em;
    font-weight: 700;
  }
  &-amount {
    font-size: 1.3em;
    margin-top:vars.$gutter;
  }
}
