@use 'src/styles/vars';

.header {
  background-color: vars.$color;
  color: vars.$color-light;
  padding: vars.$gutter * 3;
  text-align: center;
  &-title {
    font-size:2em;
    font-weight: 700;
  }
  &-amount {
    font-size: 1.3em;
    margin-top:vars.$gutter;
  }
}
